@using System.Web.Script.Serialization
@using HCRGUniversityMgtApp.Infrastructure.Global;
@{
    ViewBag.Title = "Index";
}
@section header{
    <a class="navbar-brand" href="#">Log Session Management</a>
}

<div id="divShowLogSession">
    <div class="inner-content">

        <!--start row -->
        <div class="row">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Search Criteria</div>
                    @using (Html.BeginForm(GlobalConst.Actions.UserController.Index, GlobalConst.Controllers.User, FormMethod.Post, new
                    {
                        id = "frmAddAboutus",
                        enctype = "multipart/form-data",
                        data_bind = "ajaxForm : { success : function(responseText ,statusText,xhr,$form){SearchDetailSuccess(responseText);}"
                    }))
                    {
                        <div class="mtb-20">
                        <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-5"><label>Search User</label></div>
                                <div class="col-md-7 col-sm-9 col-xs-5">
                                    <div class="form-group col-md-9 col-sm-12 padd-0">
                                        <input type="text" class="form-control" name="searchtext" id="searchtext" data-bind="value:searchText" placeholder="User Email" />

                                    </div>
                               
                                <div class="col-md-2 col-sm-3 col-xs-5 pull-right padd-0">
                                    <input type="submit" data-bind="click:$root.SearchUser" class="btn btn-default pull-right" value="Search" />
                                </div>
 </div>
                            </div>
                        </div>
                    }
                  
                      <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">Search Result</div>
                            <!-- Table -->
                            <div class="table-responsive height-400">
                            <table class="table table-striped"><!-- col-sm-2-->
                                <thead>

                                    <tr>
                                        <th class="col-md-2 col-sm-3">First Name</th>
                                        <th class="col-md-2 col-sm-3">Last Name</th>
                                        <th class="col-md-2 col-sm-3">Email</th>
                                        <th class="col-md-2 col-sm-3">Course Name</th>
                                        <th class="col-md-1 col-sm-3">Browser</th>
                                        <th class="col-md-2 col-sm-3">Log Created Date</th>
                                        <th class="col-md-1 col-sm-2">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <!--ko if:LogSessionDetails!= null-->
                                    <!-- ko foreach:LogSessionDetails -->
                                    <tr>
                                        <td class="col-md-2 col-sm-3"><span data-bind="text:FirstName" /></td>
                                        <td class="col-md-2 col-sm-3"><span data-bind="text:LastName" /></td>
                                        <td class="col-md-2 col-sm-3"><span data-bind="text:EmailID" /></td>
                                        <td class="col-md-2 col-sm-3"><span data-bind="text:CourseName" /></td>
                                        <td class="col-md-1 col-sm-3"><span data-bind="text:Browser" /></td>
                                        <td class="col-md-2 col-sm-3"><span data-bind="text:LogCreatedDate" /></td>
                                        <td class="col-md-1 col-sm-2"><a href="#" class="inner-content-link blue" style="color: #2b2b2b" data-bind="click:$root.DeleteSession">Delete</a></td>
                                    </tr>
                                    <!--/ko-->
                                    <!--/ko-->
                                </tbody>
                                <tfoot>
                                    <!--ko if:LogSessionDetails()==null || LogSessionDetails().length==0-->
                                    <tr>
                                        <td colspan="9">
                                            <div class="alert alert-info">
                                                <button type="button" class="close" data-dismiss="alert">
                                                    &times;
                                                </button>
                                                No Result Found.
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                </tfoot>
                            </table>
                                </div>
                            <nav class="margin-left">
                                @Html.Partial("~/Views/Shared/_Paging.cshtml")
                            </nav>
                        </div>
                    </div>
                    <div id="loaderDiv" class="loaderbg">
                        <input class="loader" type="image" id="loading" src="~/Content/imgs/loading.gif">
                    </div>
                </div>
            </div>
            <!-- row-end -->
        </div><!-- /inner-wrapper -->
    </div>
</div>

@section scripts{

    <script src="~/Scripts/knockout/viewmodel/views/LogSession/LogSessionViewModel.js"></script>
    <script src="~/Scripts/Plugin/Jquery.checkNumericNumbers.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.js")"></script>
<script src="@Url.Content("~/Scripts/knockout/ko.pager.js")"></script>
    <script type="text/javascript">
        var model = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));
        var logSessionViewModel = new LogSessionViewModel();
        logSessionViewModel.Init(model);
        ko.applyBindings(logSessionViewModel, $("#divShowLogSession").get(0));
    </script>

}