@using System.Web.Script.Serialization
@using HCRGUniversityMgtApp.Infrastructure.Global;
@{
    ViewBag.Title = "Index";
}
@section header{
    <a class="navbar-brand" href="#">Pre-Test</a>
}
<div id="divAddDiscountCoupon">
    <div class="inner-content">
        <!--start row -->
        <div class="row">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Add Pre-Test</div>
                    @using (Html.BeginForm(GlobalConst.Actions.PreTestController.Add, GlobalConst.Controllers.PreTest, FormMethod.Post, new
                    {
                        id = "frmAddPreTest",
                        enctype = "multipart/form-data",
                        data_bind = "ajaxForm : { success : function(responseText ,statusText,xhr,$form){AddPreTestDetailSuccess(responseText);},beforeSubmit : PreTestFormBeforeSubmit}"
                    }))
                    {
                        <div>
                            <div class="row mtb-20">
                                <div class="col-md-2 col-sm-4 padd-0"><label>Pre-Test Name:<span class="red">*</span></label> <a href="#" class="inner-content-link"> </a></div>
                                <div class="col-md-5 col-sm-8">
                                    <div class="form-group">
                                        <input type="text" title="" pattern="^[^-\s][a-zA-Z0-9_'\s-]+$" class="form-control" id="txtPreTestName" maxlength="500" required="required" name="PreTest.PreTestName" data-bind="value:PreTestName, enable:IsenablePreTestName,jqBootstrapValidation: {}" placeholder="Pre-Test Name">
                                        <input type="hidden" name="PreTestQuestion.PreTestQuestionID" data-bind="value:PreTestQuestionID" />
                                        <input type="hidden" id="PreTestID" name="PreTest.PreTestID" data-bind="value:PreTestID" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mtb-20">
                                <div class="col-md-2 col-sm-4 padd-0"><label>Question <span class="red">*</span></label> <a href="#" class="inner-content-link"> </a></div>
                                <div class="col-md-5 col-sm-8">
                                    <div class="form-group">
                                        <input type="text" title="" pattern="^[^-\s][a-zA-Z0-9_'\s-]+$" required="required" class="form-control" name="PreTestQuestion.PreTestQues" maxlength="1024" placeholder="Question" data-bind="value:PreTestQues,jqBootstrapValidation: {}">
                                    </div>
                                </div>
                            </div>
                            <div class="row mtb-20">
                                <div class="col-md-2 col-sm-4 padd-0"><label> Answer Type <span class="red">*</span></label> <a href="#" class="inner-content-link"> </a></div>
                                <div class="col-md-5 col-sm-8">
                                    <div class="form-group">
                                        <select name="PreTestQuestion.PreTestAnswerType" id="drpPreTestAnswerType" class="form-control" required="required"
                                                data-bind="options: PreTestAnswerTypes, optionsText: 'AnswerTypeName',
                                                     optionsValue: 'AnswerTypeValue',value: selectedItemId,
                                                        optionsCaption: 'Select Any Option',
                                                     jqBootstrapValidation: {}"></select>
                                    </div>
                                </div>
                            </div>
                            <div id="divMultipleChoice" style="display:none">
                                <div class="row mtb-20">
                                    <div class="col-md-2 col-sm-4 padd-0"><label>Choice A <span class="red">*</span></label> <a href="#" class="inner-content-link"> </a></div>
                                    <div class="col-md-5 col-sm-8">
                                        <div class="form-group">
                                            <input type="text" title="" pattern="^[^-\s][a-zA-Z0-9_'\s-]+$" required="required" class="form-control" name="PreTestQuestion.PreTestOptionA" maxlength="250" placeholder="Choice" data-bind="value:PreTestOptionA,jqBootstrapValidation: {}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mtb-20">
                                    <div class="col-md-2 col-sm-4 padd-0"><label>Choice B<span class="red">*</span></label> <a href="#" class="inner-content-link"> </a></div>
                                    <div class="col-md-5 col-sm-8">
                                        <div class="form-group">
                                            <input type="text" title="" pattern="^[^-\s][a-zA-Z0-9_'\s-]+$" required="required" class="form-control" name="PreTestQuestion.PreTestOptionB" maxlength="250" placeholder="Choice" data-bind="value:PreTestOptionB,jqBootstrapValidation: {}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mtb-20">
                                    <div class="col-md-2 col-sm-4 padd-0"><label>Choice C<span class="red">*</span></label> <a href="#" class="inner-content-link"> </a></div>
                                    <div class="col-md-5 col-sm-8">
                                        <div class="form-group">
                                            <input type="text" title="" pattern="^[^-\s][a-zA-Z0-9_'\s-]+$" required="required" class="form-control" name="PreTestQuestion.PreTestOptionC" maxlength="250" placeholder="Choice" data-bind="value:PreTestOptionC,jqBootstrapValidation: {}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mtb-20">
                                    <div class="col-md-2 col-sm-4 padd-0"><label>Choice D<span class="red">*</span></label> <a href="#" class="inner-content-link"> </a></div>
                                    <div class="col-md-5 col-sm-8">
                                        <div class="form-group">
                                            <input type="text" title="" pattern="^[^-\s][a-zA-Z0-9_'\s-]+$" required="required" class="form-control" name="PreTestQuestion.PreTestOptionD" maxlength="250" placeholder="Choice" data-bind="value:PreTestOptionD,jqBootstrapValidation: {}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mtb-20" id="PreTestanswerID">
                                    <div class="col-md-2 col-sm-4 padd-0"><label>Answer<span class="red">*</span></label> <a href="#" class="inner-content-link"> </a></div>
                                    <div class="col-md-1 col-sm-2">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="PreTestQuestion.PreTestAnswer" data-bind="checked: PreTestAnswer, checkedValue: 'A',jqBootstrapValidation: {}" value="A" required="required">
                                                A
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-2">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="PreTestQuestion.PreTestAnswer" data-bind="checked: PreTestAnswer, checkedValue: 'B',jqBootstrapValidation: {}" value="B" required="required">
                                                B
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-2">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="PreTestQuestion.PreTestAnswer" data-bind="checked: PreTestAnswer, checkedValue: 'C',jqBootstrapValidation: {}" value="C" required="required">
                                                C
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-1 col-sm-2">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="PreTestQuestion.PreTestAnswer" data-bind="checked: PreTestAnswer, checkedValue: 'D',jqBootstrapValidation: {}" value="D" required="required">
                                                D
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divTrueorFalse" style="display:none;">
                                <div class="row mtb-20">
                                        <div class="col-md-2 col-sm-4 padd-0"><label>Answer<span class="red">*</span></label> <a href="#" class="inner-content-link"> </a></div>
                                   
                                    <div class="col-md-5 col-sm-8">
                                        <div class="form-group">
                                              <div class="col-md-2 col-sm-4 padd-0">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" required="required" name="PreTestQuestion.PreTestAnswerTrueFalse" data-bind="checked: PreTestAnswerTrueFalse,jqBootstrapValidation: {}" value="true">
                                                        True
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-2 col-sm-4">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" required="required" name="PreTestQuestion.PreTestAnswerTrueFalse" data-bind="checked: PreTestAnswerTrueFalse,jqbootstrapvalidation: {}" value="false">
                                                        False
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <input type="submit" class="btn btn-default" value="Submit">
                            </div>
                        </div>
                    }
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">Pre-Test Questions Items</div>
                            <table class="table table-fixed-1 table-striped ">
                                <thead>
                                    <tr class="clearfix">
                                        <th class="col-md-8 col-sm-7">Pre-Test Question:</th>
                                        <th class="col-md-2 col-sm-3">Answer Type:</th>
                                        <th class="col-md-2 col-sm-2">Action</th>
                                </thead>
                                <tbody id="main" data-bind="event: { scroll: scrolled }">
                                    <!--ko if:PreTestQuestions!= null-->
                                    <!-- ko foreach:PreTestQuestions -->
                                    <tr class="clearfix">
                                        <td class="col-md-8 col-sm-7"><span data-bind="text:PreTestQues" /> </td>
                                        <td class="col-md-2 col-sm-3"><span data-bind="text:PreTestAnswerType" /> </td>
                                        <td class="col-md-2 col-sm-2">
                                            <a href="#" class="inner-content-link blue" style="color:#808080;" data-bind="click:$root.editPreTestQuestionLineItems">Edit</a>
                                        </td>
                                    </tr>
                                    <!--/ko-->
                                    <!--/ko-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="loaderDiv" class="loaderbg">
                        <input class="loader" type="image" id="loading" src="~/Content/imgs/loading.gif">
                    </div>
                </div>
            </div>
            <!-- row-end -->
        </div><!-- /inner-wrapper -->
    </div>
</div>
@section scripts{
    <script src="~/Scripts/bootstrap/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/Plugin/Jquery.checkNumericNumbers.js"></script>
    <link href="~/Content/ui/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/knockout/viewmodel/views/PreTest/AddPreTestViewModel.js"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.js")"></script>
    <script type="text/javascript">
        var model = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));
        var addPreTestViewModel = new AddPreTestViewModel();
        addPreTestViewModel.Init(model);
        ko.applyBindings(addPreTestViewModel, $("#divAddDiscountCoupon").get(0));
    </script>
  <script type="text/javascript">
      function setgrdDesign() {
          //if (!$('#main').hasScrollBar()) {
          //    var className;
          //    $('#main > tr').each(function() {
          //        $(this).children('td').addClass(function (index) {
          //            $(this).removeClass("marginleft10");
          //            return 'paddingleft-none';
          //        })
          //    });
          //}
      }
      jQuery(function($) {
          $('#main')
            .bind('afterShow', function() {
                alert('afterShow');
            })
            .show(1000, function() {
               // setgrdDesign();
            })
            .show();
      });
</script>
}