<div id="divDeliveryTermConditions">
    <div class="panel-body">
        <div class="modal fade" id="DeliveryTermConditions" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg position-center set-popup">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button data-dismiss="modal" type="button" id="btnClose" class="close" aria-hidden="true" style="text-indent: 0;">&times;</button>
                        <h4>Delivery Terms & Conditions</h4>
                    </div>
                        <div class="margintop15 marginbottom15 marginleft15 marginright15" id="divDeliveryTermContents"></div>
                </div>
            </div>
        </div>
    </div>
</div>
