@{
    ViewBag.Title = "Index";
}

<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <header class="site-block-title">
                    <h2>Links</h2>
                </header>
            </div>
            <!-- col-sm-12 -->
        </div>
        <!-- row -->
        <div class="row list-style-none">
            <div class="col-sm-4">
                <span class="resources-redhead">Workers' Compensation</span>
                <ul class="side-nav contact-list">
                    <li><a href="join-our-faculty.html" class="font-18" style="font-size:16px !important; color:#333 !important;">
                        <img src="../Content/img/icons_rgb.png" class="marginright10" />
                        www.hcrg.com</a></li>
                </ul>
                <ul class="side-nav contact-list">
                    <li><a href="join-our-faculty.html" class="font-18" style="font-size:16px !important; color:#333 !important;">
                        <img src="../Content/img/icons_rgb.png" class="marginright10" />
                        www.hcrgworkerscomp.com</a></li>
                </ul>
            </div>
            <!-- col-sm-4 -->
            <div class="col-sm-4">
                <span class="resources-redhead">Healthcare</span>
                <ul class="side-nav contact-list">
                    <li><a href="join-our-faculty.html" class="font-18" style="font-size:16px !important; color:#333 !important;">
                        <img src="../Content/img/icons_rgb.png" class="marginright10" />
                        www.medicare.gov</a></li>
                </ul>
                <ul class="side-nav contact-list">
                    <li><a href="join-our-faculty.html" class="font-18" style="font-size:16px !important; color:#333 !important;">
                        <img src="../Content/img/icons_rgb.png" class="marginright10" />
                        www.hcrgmedicalgrp.org</a></li>
                </ul>
            </div>
            <!-- col-sm-4 -->
            <div class="col-sm-4">
                <span class="resources-redhead">Other</span>
                <ul class="side-nav contact-list">
                    <li><a href="join-our-faculty.html" class="font-18" style="font-size:16px !important; color:#333 !important;">
                        <img src="../Content/img/icons_rgb.png" class="marginright10" />
                        www.workcompdirect.com</a></li>
                </ul>
             
            </div>
            <!-- col-sm-4 -->
        </div>
        <!-- row -->
    </div>
