
<div id="DivEnterprisePackageDetails">
    <!-- Table -->
    <table class="table table-striped table-fixed-event">
        <thead>
            <tr class="clearfix col-md-12 row">
                <th class="col-md-3 paddingleft20">Headings</th>
                <th class="col-md-9 paddingleft15">Description</th>


            </tr>
        </thead>
        <tbody class="col-md-12">

            <tr class="clearfix col-md-12 row">

                <td class="col-md-3"><span>Name</span></td>
                <td class="col-md-9">
                    <span data-bind="text:EPRName" />

                </td>
            </tr>

            <tr class="clearfix col-md-12 row">

                <td class="col-md-3"><span>Email</span></td>
                <td class="col-md-9">
                    <span data-bind="text:EPREmail" />

                </td>
            </tr>

            <tr class="clearfix col-md-12 row">

                <td class="col-md-3"><span>Phone</span></td>
                <td class="col-md-9">
                    <span data-bind="text:EPRPhone" />

                </td>
            </tr>

            <tr class="clearfix col-md-12 row">

                <td class="col-md-3"><span>Company</span></td>
                <td class="col-md-9">
                    <span data-bind="text:EPRCompany" />

                </td>
            </tr>

            
        </tbody>

    </table>


</div>


