@using System.Web.Script.Serialization
@using HCRGUniversityMgtApp.Infrastructure.Global;
@{
    ViewBag.Title = "Faculties";
}
@section header{
    <a class="navbar-brand" href="#">Faculty</a>
}


<div id="divFacultyList">
     <!--ko if:IsHCRGAdmin() == true-->
    <div class="row mtb-10">
        <div class="col-md-2 col-sm-3">
            <label>Organizations:</label>
        </div>
        <div class="col-md-5 col-sm-9">
            <div class="form-group">
                <select id="DrpOrgID" class="form-control" data-bind="options: AllOrganizations, optionsText: 'OrganizationName', optionsValue: 'OrganizationID', optionsCaption:'Select Organization', value: SearchSelectedOrganization"></select>
                <input type="hidden" id="hdfOrgID" />
            </div>
        </div>
        <div class="col-md-2 col-sm-12 padd-l0">
            <button type="button" id="btnSearch" class="btn btn-default pul-rht-r" data-bind="click:$root.SearchFaculty">Search</button>
        </div>
    </div>
   <!--/ko-->
    <div class="inner-content">
        <!--start row -->
        <div class="row mtop_20">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Faculty</div>


                    @*      <!--ko with:FacultyViewModel-->*@
                    <input type="hidden" name="Take" id="hidtake" data-bind="value: $root.Take" />
                    <input type="hidden" name="Skip" id="hidskip" data-bind="value: $root.Skip" />
                    @*    <!--/ko-->*@
                    <span class="clearfix"></span>
                    <!--ko if:(TotalItemCount() > 0 || TotalItemCount() == 0 )-->
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <!-- Table -->
                            <div class="table-responsive height-400">
                                <table class="table table-striped col-md-12">
                                    <thead>
                                        <tr>
                                            <th class="col-md-2 col-sm-3">Name</th>
                                            <th class="col-md-3 col-sm-3">Title</th>
                                            <th class="col-md-2 col-sm-3">E-Mail </th>
                                            <th class="col-md-3 col-sm-3">Organization</th>
                                            <th class="col-md-2 col-sm-3">Date Submitted</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!--ko if:FacultySearchResults!= null-->
                                        <!-- ko foreach:FacultySearchResults -->
                                        <tr>
                                            <td class="col-md-2 col-sm-3">
                                                <a href="#" data-target="#myModal" id="SelectNewsModalPopUp" data-backdrop="static" data-keyboard="false" data-toggle="modal" class="inner-content-link blue" data-bind="click:$root.FacultyDetailByID" style="color: #428bca;">
                                                    <span data-bind="text:FullName" />
                                                </a></td>
                                            <td class="col-md-3 col-sm-3">
                                                <span data-bind="text:ProfessionalTitle" />
                                                <input type="hidden" name="FacultyID" data-bind="value:FacultyID" />
                                            </td>
                                            <td class="col-md-2 col-sm-3">
                                                <span data-bind="text:Email" />
                                            </td>
                                            <td class="col-md-3 col-sm-3">
                                                <span data-bind="text:OrganizationName" />
                                            </td>
                                            <td class="col-md-2 col-sm-3">
                                                <span data-bind="text:CreatedDate" />
                                            </td>
                                        </tr>
                                        <!--/ko-->
                                        <!--/ko-->
                                    </tbody>
                                    <tfoot>
                                        <!--ko if:FacultySearchResults()==null || FacultySearchResults().length==0-->
                                        <tr>
                                            <td colspan="9">
                                                <div class="alert alert-info">
                                                    <button type="button" class="close" data-dismiss="alert">
                                                        &times;
                                                    </button>
                                                    No Result Found.
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- /ko -->
                                    </tfoot>
                                </table>
                            </div>
                            <nav class="margin-left">
                                @Html.Partial("~/Views/Shared/_Paging.cshtml")
                            </nav>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <!-- row-end -->
        </div>
        <!-- /inner-wrapper -->
    </div>

    <div class="panel-body">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog position-center">
                <div class="modal-content">
                    <div class="modal-header header-bg">
                        <button type="button" class="close" id="sectionClose" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <div class="modal-title" style="color: #fff;">Faculty Detail</div>

                    </div>

                    <div class="modal-body">
                        <div class="panel-body">
                            <div class="panel-default panel">
                                @{Html.RenderPartial("~/Views/Shared/Faculty/_FacultyDetail.cshtml");  }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/InputMaskViewModel.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/knockout/ko.PopupPager.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout/viewmodel/views/College/FacultyViewModel.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout/ko.pager.js")"></script>
    <script type="text/javascript">
        var model = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));
        var _facultyViewModel = new FacultyViewModel();
        _facultyViewModel.Init(model);
        ko.applyBindings(_facultyViewModel, $("#divFacultyList").get(0));

    </script>

}