<div id="divNewUser">
    <div class="inner-content">
        <div class="row">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">New Users</div>                                        
                    <span class="clearfix"></span>
                  
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td class="col-md-4"><strong>User Name</strong></td>                                        
                                        <td class="col-md-4"><strong>Email</strong></td>
                                        <td class="col-md-4"><strong>Clear</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--ko if:NewUsersList != null -->
                                    <!--ko foreach:NewUsersList -->
                                    <tr>
                                        <td class="col-md-4">
                                            <span data-bind="text:FirstName() + ' ' + LastName()"></span>
                                        </td>                                        
                                        <td class="col-md-4">
                                            <span data-bind="text:EmailID"></span>
                                        </td>
                                        <td class="col-md-4">
                                            <a class="inner-content-link blue" data-bind="click:function(){$root.clearUser(UID);}" style="color:#808080;" href="#">Clear</a>
                                        </td>
                                    </tr>
                                    <!--/ko-->
                                    <!--/ko-->
                                </tbody>
                                <tfoot>
                                    <!--ko if:NewUsersList == null -->
                                    <tr>
                                        <td colspan="3">
                                            <div class="alert alert-info">
                                                <button type="button" class="close" data-dismiss="alert">
                                                    &times;
                                                </button>
                                                No Result Found.
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                </tfoot>                                                                    
                            </table>
                            <nav class="margin20">
                                <!-- ko if:uPager().uTotalItemCount() > 10 -->
                                <div class="pagination" data-bind="with: uPager">
                                    <div class="pagexofx">
                                        <span data-bind="text:uFirstItemIndex"></span>
                                        -
                                        <span data-bind="text: uLastItemIndex"></span>
                                        of
                                        <strong>
                                            <span data-bind="text: uTotalItemCount"></span>
                                        </strong>
                                        total results.
                                    </div>
                                    <ul class="pagination">
                                        <!-- ko if:uCurrentPage() === 1 -->
                                        <li class="disabled">
                                            <a href="#" class="disabledPage">&laquo;&laquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko ifnot:uCurrentPage() === 1 -->
                                        <li>
                                            <a href="#" data-bind="click: function(){ uCurrentPage(1); }">&laquo;&laquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko if:uHasPrevPage -->
                                        <li>
                                            <a href="#" data-bind="click: function(){ uCurrentPage(uCurrentPage() - 1); }">&laquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko ifnot:uHasPrevPage -->
                                        <li class="disabled">
                                            <a href="#" class="disabledPage">&laquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko foreach:uPages -->
                                        <!-- ko if:$data === $parent.uCurrentPage() -->
                                        <li class="active">
                                            <span class="currentPage" data-bind="text: $data"></span>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko if:$data !== $parent.uCurrentPage() -->
                                        <li>
                                            <a href="#" data-bind="text: $data, click: function(){ $parent.uCurrentPage($data); }"></a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- /ko -->
                                        <!-- ko if:uHasNextPage -->
                                        <li>
                                            <a href="#" data-bind="click: function(){ uCurrentPage(uCurrentPage() + 1); }">&raquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko ifnot:uHasNextPage -->
                                        <li class="disabled">
                                            <a href="#" class="disabledPage">&raquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko ifnot:uCurrentPage() === uLastPage() -->
                                        <li>
                                            <a href="#" data-bind="click: function(){ uCurrentPage(uLastPage()); }">&raquo;&raquo;</a>
                                        </li>
                                        <!-- /ko -->
                                        <!-- ko if:uCurrentPage() === uLastPage() -->
                                        <li class="disabled">
                                            <a href="#" class="disabledPage">&raquo;&raquo;</a>
                                        </li>
                                        <!-- /ko -->
                                    </ul>

                                </div>
                                <!-- /ko -->
                            </nav>
                        </div>
                    </div>                    
                  
                </div>
            </div>
        </div>
    </div>
</div>
