.topbar
{
    background-color: rgb(99, 99, 99);
}

.topbar
{
    color: #ffffff;
}

.header-wrapper
{
    background-color: #001041;
}

.list-head
{
    background-color: rgb(0, 16, 65);
}

.caption
{
    background-color: rgb(122, 122, 122);
}

.caption
{
    color: #001041;
}

.search-btn-l
{
    background-color: rgb(99, 99, 99);
}

.list-footer
{
    background-color: #001041;
}

.list-head1
{
    background-color: rgb(167, 167, 167);
}

.faculty-btn
{
    background-color: #a7a7a7;
}
.faculty-btn:hover, .faculty-btn:focus, .faculty-btn:active {
    text-decoration: none;
    color: #fff;
    background-color: rgb(99, 99, 99) !important;
}
.navbar-inverse
{
    background-color: #a7a7a7;
}

.font20
{
    color: #001041;
}

.news-list
{
    color: #7a7a7a;
}

#mc_embed_signup .button
{
    color: #ffffff;
}

#mc_embed_signup .button
{
    background-color: #001041;
}

.learn-more
{
    background-color: #a7a7a7;
}

.learn-more
{
    color: #fff;
}

.submit-btn
{
    background-color: #636363;
}

.red-pagging
{
    background-color: #001041;
}

.red-pagging
{
    border-color: #001041;
}

.box-head
{
    background-color: #001041;
}

.colorblue
{
    color: #001041;
}

.list-style
{
    color: #a9a9a9;
}

.resources-redhead
{
    background-color: #001041;
}

.register-head
{
    background-color: #001041;
}

.active-link
{
    color: #001041;
}

.course-row:hover
{
    color: #001041;
}

.course-btn
{
    background-color: rgb(99, 99, 99);
}

.course-btn
{
    color: #fff;
}

.faq-topic
{
    background-color: #001041;
}

.faq-links a
{
    color: #001041;
}

.well
{
    background-color: #001041;
}

.product_price
{
    color: #001041;
}

.btnview
{
    background-color: rgb(99, 99, 99);
}

.register-head-1
{
    background-color: #001041;
}

.form-panel-heading
{
    background-color: rgb(99, 99, 99);
}

.loader
{
    color: rgb(99, 99, 99);
}

    .loader::before
    {
        background-color: rgb(99, 99, 99);
    }

    .loader::after
    {
        background-color: rgb(99, 99, 99);
    }

.input-payment
{color:rgb(99, 99, 99);}
.form-panel-heading:hover {
    background-color: rgb(99, 99, 99);
}
.monthfont, .datefont
{
    color: rgb(99, 99, 99) !important;
}
.pagination > li > a:active, .pagination > li > span
{
   background-color: rgb(99, 99, 99);
   border: 1px solid rgb(99, 99, 99);
}
.fc-first th, .fc-event{
      background:rgb(99, 99, 99);
    }
.contact-list li i
{color: rgb(99, 99, 99) !important;}
label i {
    color: rgb(99, 99, 99);
}
