
<div id="DivSuggestDetails">
    <!-- Table -->
    <table class="table table-striped table-fixed-event">
        <thead>
            <tr class="clearfix col-md-12 row">
                <th class="col-md-3 paddingleft20">Headings</th>
                <th class="col-md-9 paddingleft15">Description</th>


            </tr>
        </thead>
        <tbody class="col-md-12">

            <tr class="clearfix col-md-12 row">

                <td class="col-md-3"><span>Occupation</span></td>
                <td class="col-md-9">
                    <span data-bind="text:SCMyOccupation" />

                </td>
            </tr>

            <tr class="clearfix col-md-12 row">

                <td class="col-md-3"><span>State/Province</span></td>
                <td class="col-md-9">
                    <span data-bind="text:SCStateName" />

                </td>
            </tr>

            <tr class="clearfix col-md-12 row">

                <td class="col-md-3"><span>Name</span></td>
                <td class="col-md-9">
                    <span data-bind="text:SCName" />

                </td>
            </tr>

            <tr class="clearfix col-md-12 row">

                <td class="col-md-3"><span>Phone</span></td>
                <td class="col-md-9">
                    <span data-bind="text:SCPhone" />

                </td>
            </tr>

            <tr class="clearfix col-md-12 row">

                <td class="col-md-3"><span>E-mail</span></td>
                <td class="col-md-9">
                  
                    <span data-bind="text:SCEmail"></span>
                   
                </td>
            </tr>


            <tr class="clearfix col-md-12 row">

                <td class="col-md-3"><span>Possible Title</span></td>
                <td class="col-md-9">
                    <span data-bind="text:SCPossibleTitle" />

                </td>
            </tr>


            <tr class="clearfix col-md-12 row">

                <td class="col-md-3"><span>Agenda Outline</span></td>
                <td class="col-md-9">
                    <span data-bind="text:SCBriefAgendaOutline" />

                </td>
            </tr>


            <tr class="clearfix col-md-12 row">

                <td class="col-md-3"><span>Audience</span></td>
                <td class="col-md-9">
                    <span data-bind="text:SCAudience" />

                </td>
            </tr>


            <tr class="clearfix col-md-12 row">
                <td class="col-md-12">
                    <label class="font-16">
                        <input type="checkbox" id="chkSCSingleDaySeminarCourse" value="true" disabled /> Single Day Seminar Course
                    </label>
                    </td>
            </tr>


            <tr class="clearfix col-md-12 row">

                <td class="col-md-12">
                    <label class="font-16">
                        <input type="checkbox" id="chkSCOndemandLiveWebinarCourse" value="true"  disabled /> On Demand / Live Webinar Course
                    </label>
                </td>
            </tr>

            <tr class="clearfix col-md-12 row">

                <td class="col-md-12">
                    <label class="font-16">
                        <input type="checkbox" id="chkSCInterestedInstructor" value="true" disabled /> I would be interested in being an instructor for my suggestion.
                    </label>
                </td>
            </tr>
        </tbody>

    </table>


</div>

