@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="container">
    <div class="row margintop39 alert-danger">
        <div class="col-sm-12">
                <header class="site-block-title">
                    <h2>An error occurred while processing your request</h2>
                    <h3>Please contact your administrator</h3>
                </header>
            </div>
    </div>
</div>

