@{
    ViewBag.Title = "Unauthorise";
}

<div class="container">
    <div class="row">
        <div class="unauthorise">
            <br />
            <h2 class="clearfix text-center"><i style="color:red" class="glyphicon glyphicon-remove fail"></i> Error,Invalid Request.</h2>
            <br />

            <div class="text-center col-sm-12"> <span class="font-20"> Something happened wrong.User is unauthorise for this request. </span> </div> <br />

        </div>
    </div>
</div>


