
@{
    ViewBag.Title = "UnderConstruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="~/Content/img/page_UC.png" class="img-responsive" style="margin-top:10%; margin-bottom:10%;" />
        </div>
    </div>
</div>


