@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

   <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12">
            <div class="margintop39 alert-danger">
                <header class="site-block-title">
                    <h2 class="h2-27">An error occurred while processing your request</h2>
                    <h3>Please contact your administrator</h3>
                </header>
            </div>
        </div>
    </div>
