.topbar
{
    background-color: #ab1135;
}

.topbar
{
    color: #ffffff;
}

.header-wrapper
{
    background-color: #ffcc00 !important;
}

.list-head
{
    background-color: #ab1135;
}

.caption
{
    color: #ab1135;
}

.caption
{
    background-color: #ffcc00;
}

.search-btn-l
{
    background-color: #ab1135;
}

.list-footer
{
    background-color: #ab1135;
}

.list-head1
{
    background-color: #ab1135;
}

.font20
{
    color: #428bca;
}

.faculty-btn
{
    background-color: #3366cc;
}

.news-list
{
    color: #a1a00e;
}

#mc_embed_signup .button
{
    color: #ffffff;
}

#mc_embed_signup .button
{
    background-color: #b8b8b8 none repeat scroll 0 0;
}

.navbar-inverse
{
    background-color: #a7a7a7;
}

.red-pagging
{
    background-color: #ab1135;
}

.red-pagging
{
    border-color: #ab1135;
}

.box-head
{
    background-color: #3366cc;
}

.colorblue
{
    color: #428bca;
}

.list-style
{
    color: #a69e0d;
}

.resources-redhead
{
    background-color: #ab1135;
}

.register-head
{
    background-color: #ab1135;
}

.active-link
{
    color: #ab1135;
}

.submit-btn
{
    background-color: #3366cc;
}

.caption
{
    color: #ab1135;
}

.course-btn
{
    background-color: #3366cc;
}

.course-btn
{
    color: #fff;
}

.learn-more
{
    background-color: #3366cc;
}

.learn-more
{
    color: #ffffff;
}

.faq-topic
{
    background-color: #ab1135;
}

.faq-links a
{
    color: #428bca;
}

.well
{
    background-color: #a7a7a7;
}

.product_price
{
    color: #ab1135;
}

.btnview
{
    background-color: #ab1135;
}

.register-head-1
{
    background-color: #ab1135;
}

.news-btn
{
    background-color: #da6b00;
}

.form-panel-heading
{
    background-color: #ab1135;
}

.loader
{
    color: #ab1135;
}

    .loader::before
    {
        background-color: #ab1135;
    }

    .loader::after
    {
        background-color: #ab1135;
    }

.course-row:hover
{
    color: #ab1135;
}
