@using System.Web.Script.Serialization
@using HCRGUniversityMgtApp.Infrastructure.Global;
@{
    ViewBag.Title = "Index";
}
@section header{
    <a class="navbar-brand" href="#">User Management</a>
}

<div id="divShowUser">
    <div class="inner-content">
  
    <div class="panel-body" style="padding:7px !important;">
    <input type="button" id="btnAddNew" class="btn-edu col-md-12 col-sm-12" value="Add New " />
    </div>
          <!--start row -->
        <div class="row">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Search Criteria</div>
                       <!--ko if:IsHCRGAdmin() == true-->

                    <div class="row mtb-10">
                    <div class="col-md-2 col-sm-3">
                    <label>Organizations:</label>
                </div>
                <div class="col-md-5 col-sm-9">
                    <div class="form-group">
                        <select id="DrpOrgID"  class="form-control"  data-bind="options: AllOrganizations, optionsText: 'OrganizationName', optionsValue: 'OrganizationID', optionsCaption:'Select Organization', value: SearchSelectedOrganization, event: { change:SearchOrgChangedValue }"></select>
                          <input type="hidden" id="hdfOrgID"  />
                    </div>
                </div>
            </div>

                      <!--/ko-->
        <div class="row mtb-10">
                <div class="col-md-2 col-sm-3">
                    <label>Users Type:</label>
                </div>
                <div class="col-md-5 col-sm-9">
                    <div class="form-group">
                        <select id="DrpTypeID"  class="form-control"  data-bind="options: AllClientTypes, optionsText: 'ClientTypeName', optionsValue: 'ClientTypeID', optionsCaption:'Select User Type', value: SearchSelectedClientType, event: { change:SearchUserTypeIDChanged }" ></select>
                         <input type="hidden" id="hdfTypeID" />
                    </div>
                </div>
            </div>
                    
        <div class="mtb-20">
                             
                            <div class="row">
                                <div class="col-md-2 col-sm-3 col-xs-5">
                                    <label>Search User</label></div>
                                <div class="col-md-5 col-sm-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control"  id="searchtext"  />
                                    </div>
                                </div>
                                </div>
                            <div class="row">
                                <div class="col-md-5  col-sm-12">
                                    <div class="r-pul-right">
                                        <input type="button" id="btnSearch" class="btn btn-default" value="Search" />         
                                    </div>
                                </div>
                            </div>
                        </div>    

  </div>
                </div>
            </div>  
        <div id="userresult" hidden>

             <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-heading">Search Result</div>
                            <!-- Table -->
                            <div class="table-responsive height-400">
                                <table class="table table-striped">
                                    <!--table-fixed-1-->
                                    <thead>
                                        <tr>
                                            <th class="col-md-2 col-sm-2">First Name</th>
                                            <th class="col-md-2 col-sm-2 ml-5">Last Name</th>
                                            <th class="col-md-2 col-sm-4 ml-5">Email</th>
                                            <th class="col-md-2 col-sm-2 ml-5">User Type</th>
                                            <th class="col-md-2 col-sm-2 ml-5">Organization Name</th>
                                            <th class="col-md-2 col-sm-2 ml-5">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="main" data-bind="event: { scroll: scrolled }">
                                        <!--ko if:userResults!= null-->
                                        <!-- ko foreach:userResults -->
                                        <tr>
                                            <td class="col-md-2 col-sm-2"><span data-bind="text:FirstName" /></td>
                                            <td class="col-md-2 col-sm-2"><span data-bind="text:LastName" /></td>

                                            <td class="col-md-2 col-sm-4">
                                                <input type="hidden" data-bind="attr: { name: 'user['+ $index() + '\].ID' },value:ID" />
                                                <input type="hidden" data-bind="attr: { name: 'user['+ $index() + '\].OrganizationID' },value:OrganizationID" />
                                                <input type="hidden" data-bind="attr: { name: 'user['+ $index() + '\].FirstName' },value:FirstName" />
                                                <input type="hidden" data-bind="attr: { name: 'user['+ $index() + '\].LastName' },value:LastName" />
                                                <input type="hidden" data-bind="attr: { name: 'user['+ $index() + '\].EmailID' },value:EmailID" />
                                                <input type="hidden" data-bind="attr: { name: 'user['+ $index() + '\].ClientTypeName' },value:ClientTypeName" />
                                                <a href="#" class="inner-content-link blue" data-bind="text:EmailID,click:$root.BindUserForUpdatefunction"  style="color: #808080;"></a>
                                               @*<input type="hidden" data-bind="attr: { name: 'user['+ $index() + '\].IsManagement' },value:IsManagement" />*@
                                            </td>
                                            <td class="col-md-2 col-sm-2"><span data-bind="text:ClientTypeName" /></td>
                                            <td class="col-md-2 col-sm-2">
                                                @*<a href="#" class="inner-content-link blue paddingleft40" data-bind="text:IsActive,click:$root.Updateuser" style="color: #808080;"></a>*@
                                                <span data-bind="text:OrganizationName" />
                                            </td>
                                             <td class="col-md-2 col-sm-2"><span data-bind="text:Status" /></td>
                                        </tr>
                                        <!--/ko-->
                                        <!--/ko-->
                                    </tbody>

                                      <tfoot>
                                        <!--ko if:userResults()==null || userResults().length==0-->
                                        <tr>
                                            <td colspan="9">
                                                <div class="alert alert-info">
                                                    <button type="button" class="close" data-dismiss="alert">
                                                        &times;
                                                    </button>
                                                    No Result Found.
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- /ko -->
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="loaderDiv" class="loaderbg">
                        <input class="loader" type="image" id="loading" src="~/Content/imgs/loading.gif">
                    </div>
        </div>                
                   
                </div>            
            <!-- row-end -->
       
        <!-- /inner-wrapper -->
  
    
    <div class="modal fade" id="AddUserModalPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
           
            <div class="modal-dialog position-center set-popup">
               
                <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" id="AddUserPoPupClose" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add User Control</h4>
                    </div>
                    <div class="row mtb-20">
                        <div class="col-md-8">
                              <!--ko if:IsHCRGAdmin() == true-->
                        <div class="row">
                <div class="col-md-4">
                    <label>Organizations:</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <select id="DrpOrganizationID" required="required" class="form-control"  data-bind="options: Organizations, optionsText: 'OrganizationName', optionsValue: 'OrganizationID', optionsCaption:'Select Organization', value: selectedOrganization, event: { change:OrganizationIDChanged }"></select>
                          <input type="hidden" id="hdfOrganizationID" name="OrganizationID" data-bind="OrganizationID" />
                    </div>
                </div>
            </div>
                              <!--/ko-->
                   @*     <div class="row">
                <div class="col-md-4">
                    <label>Clients:</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <select id="DrpClientID" required="required" class="form-control"  data-bind="options: Clientdropdownlists, optionsText: function(item) { return item.FirstName + ' ' + item.LastName;}, optionsValue: 'ClientID', optionsCaption:'Select Client', value: selectedClient, event: { change:ClientsIDChanged }"></select>
                         <input type="hidden" id="hdfClientID" />
                    </div>
                </div>
            </div>*@
                        <div class="row">
                <div class="col-md-4">
                    <label>Users Type:</label>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <select id="DrpClientTypeID" required="required" class="form-control"  data-bind="options: ClientTypes, optionsText: 'ClientTypeName', optionsValue: 'ClientTypeID', optionsCaption:'Select Client Type', value: selectedClientType, event: { change:UserTypeIDChanged }" ></select>
                         <input type="hidden" id="hdfClientTypeID" />
                    </div>
                </div>
            </div>
                    </div></div>
                    <hr />
                    <div class="row">
                     <div id="AddUserModel" class="height-565" style="display:none">
                    @using (Html.BeginForm(GlobalConst.Actions.UserController.AddUser, GlobalConst.Controllers.User, FormMethod.Post, new
                    {
                        id = "frmAddUser",
                        enctype = "multipart/form-data",
                        data_bind = "ajaxForm:{ success: function(responseText, statusText,xhr ,$form){AddUserDetailSuccess(responseText)},beforeSubmit: AddUserInfoFormBeforeSubmit,clearForm : true}"
                    }))
                    {

                        <div class="modal-body hight-420">
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>First Name:</label>

                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="hidden" id="hdOrganizationID"  name="OrganizationID"/>
                                            <input type="hidden" id="hdClientID" name="ClientID"/>
                                             <input type="hidden" id="hdClientTypeID" name="ClientTypeID"/>
                                            <input type="hidden" id="hdUID" name="UID" data-bind="value:UID" />
                                            <input name="FirstName" id="FirstNameAdd" required="required" type="text" class="form-control" data-bind="jqBootstrapValidation: {}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Last Name:</label>

                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input name="LastName" id="LastNameAdd" required="required" type="text" class="form-control" data-bind="jqBootstrapValidation: {}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Email:</label>

                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input name="EmailID" id="EmailIDAdd" required="required" type="email" class="form-control" data-bind="jqBootstrapValidation: {}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Company:</label>

                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input name="Company" id="CompanyAdd" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Phone:</label>

                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" name="Phone" id="PhoneAdd" onkeypress="return isNumberKey(event)" class="form-control" data-validation-regex-regex="^(\d*\.\d{1,2}|\d+)$" data-validation-regex-message="Must be a number" data-bind="jqBootstrapValidation: {}" maxlength="20">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Professional Title:</label>

                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input name="ProfessionalTitle" id="ProfessionalTitleAdd" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            @*<div class="row">
                                    <div class="col-md-4">
                                        <label>Group:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <select id="UserMenuGroupID"  class="form-control" name="UserMenuGroupID" data-bind="options: Groups, optionsText: 'UserMenuGroupName', optionsValue: 'UserMenuGroupID', optionsCaption:'Select Group', value: selectedGroup,event: { change:UserMenuGroupChanged }" required></select>
                                            <input type="hidden" name="SpecialMenuIDs" id="hdnMenuIDs" data-bind="value: $root.selectedMenu" />                                           
                                        </div>
                                    </div>
                                </div>*@
                                 <div class="row" id="userIsActive" style="display:none">
                                    <div class="col-md-4">
                                        <label>Status:</label>

                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <select id="IsActive" name="IsActive" class="form-control" data-bind="options:$root.UserStatus, optionsText:'StatusName',optionsValue:'Status', value:(IsActive()=='Active')?'true':'false'"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="userManagement" style="display:none">
                                    <div class="col-md-4">
                                        <label>Management:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input name="IsManagement" id="chkbtnManagement" style="width: 20px; height: 20px;" type="checkbox" class="form-control" data-bind="checked:IsManagement" value="true">
                                            <input type="hidden" name="IsManagement" value="false" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row" id="coursePreview" style="display:none">
                                    <div class="col-md-4">
                                        <label>Course Preview:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input name="IsCoursePreview" id="chkbtnCoursePreview" style="width: 20px; height: 20px;" type="checkbox" class="form-control" data-bind="checked:IsCoursePreview" value="true">
                                            <input type="hidden" name="IsCoursePreview" value="false" />
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div style="padding-top: 10px;">
                                            <button type="submit" aria-hidden="true" id="btnAdd" class="btn btn-default">Add</button>
                                            <button type="button" data-dismiss="modal" aria-hidden="true" id="btnAddClose" class="btn btn-default">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           @* <div class="col-md-5 col-sm-12 col-xs-12 padd-0">
                                @{ Html.RenderPartial("~/Views/Shared/Group/_GroupPartial.cshtml"); }
                            </div>*@
                        </div>
                    }
                        </div>
                     <div id="ClientModel" class="height-665" style="display:none">
                            
                      @{Html.RenderPartial("~/Views/Shared/Client/_ClientDetail.cshtml");}
                            
                    </div>
                        </div>
                      <div class="col-md-4">
                         <button type="button" aria-hidden="true" id="btnResetStudentPwd" class="btn btn-default mtop-left" data-bind="click:ResetUserPassword" style="display:none">Reset Passsword</button>
                         </div> 
                    </div>
                   </div>
                </div>
</div>


@section scripts{

    <script src="~/Scripts/knockout/viewmodel/views/User/UserResultViewModel.js"></script>
    <script src="~/Scripts/knockout/viewmodel/views/Client/ClientViewModel.js"></script>
    <script src="~/Scripts/Plugin/Jquery.checkNumericNumbers.js"></script>
    <script src="@Url.Content(" ~/Scripts/jquery.tmpl.js")"></script>  
    <script>

        function CheckPopup() {
            if ($("input[name='users']:checked").val() == "client")
            {
               /// $('#ClientModal').modal('show');

              
            }
            else
            {
               //// $('#UserModalPopUp').modal('show');
            }
        }
    </script>
    <script type="text/javascript">
        /**/
        var model = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));
        /**/
        var UserGridViewModel = new UserGridViewModel();
        UserGridViewModel.Init(model);
        ko.applyBindings(UserGridViewModel, $("#divShowUser").get(0));

        /**/
        var clientViewModel = @MvcHtmlString.Create(new JavaScriptSerializer().Serialize(Model));
    /**/
    var _clientViewModel = new ClientViewModel(clientViewModel);
   /// ko.applyBindings(_clientViewModel, $("#ClientModal").get(0));
    </script>

}







