<div class="modal fade" id="divEducationProfession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog position-center">
        <div class="modal-content box-height">
            <div class="modal-header header-bg">
                <button type="button" class="close close-btn" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <label>Professsion</label>
                            <a href="#" class="inner-content-link"> </a>
                        </div>
                        <select class="form-control-widget col-md-6" id="Profession" name="ProfessionID" required="required" data-bind="options: Professions, optionsText: 'ProfessionTitle',
                                   optionsValue: 'ProfessionID',
                                    optionsCaption: 'Select Any Profession',jqBootstrapValidation: {}"></select>
                    </div>


                    <div class="panel-body text-right ">
                        <button class="btn btn-default " data-bind="click:addProfessionEducation">Add Profession</button>

                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

