@using System.Web.Script.Serialization
@using HCRGUniversityMgtApp.Infrastructure.Global;
@{
    ViewBag.Title = "_AddEducationCredential";
}

@using (Html.BeginForm(GlobalConst.Actions.EducationController.AddEducationCredential, GlobalConst.Controllers.Education, FormMethod.Post, new
        {
            id = "frmAddEducationCredential",
            enctype = "multipart/form-data",
            data_bind = "ajaxForm:{ success: function(responseText, statusText, xhr, $form){ AddEducationCredentialDetailSuccess(responseText);},beforeSubmit: EducationCredentialInfoFormBeforeSubmit}"
        }))
{
    <div id="contentwrapper" class="contentwrapper nopadding">
        <div class="panel-body">
            <input type="hidden" id="hfCreEducationID" data-bind="value: EducationID" name="EducationID" />
            <input type="hidden" name="IsActive" id="hdfIsActive" data-bind="value:IsActive" />
            <input type="hidden" name="CredentialID" id="hdCredentialID" data-bind="value: CredentialID" />
            <div class="col-md-3">
                <label>Credential Units :</label>
               
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input required="required" type="text" onkeypress="return validate(event)" class="form-control" data-bind="value:CredentialUnit,jqBootstrapValidation: {}" name="CredentialUnit" id="CredentialUnit">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-3">
                <label> Credential Type :</label>

            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input  type="text" title="" pattern="^[^-\s][a-zA-Z0-9_'\s-]+$"  class="form-control" maxlength="5" data-bind="value:CredentialType,jqBootstrapValidation: {}" name="CredentialType" id="CredentialType">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-3">
                <label>Program :</label>
                
            </div>
            <div class="col-md-4">
                <div class="form-group">

                    <input required="required" title="" pattern="^[^-\s][a-zA-Z0-9_'\s-]+$"  type="text" class="form-control" data-bind="value:CredentialProgram,jqBootstrapValidation: {}" name="CredentialProgram" maxlength="25" id="CredentialProgram">
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="col-md-3">
                <label>Accreditor :</label>
                
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  
                    <select class="form-control-widget col-md-10 form-control" style="margin-left: 0px!important" id="Accreditor" name="AccreditorID"
                            data-bind="options: Accreditors, optionsText: 'AccreditorName',value: $root.selectedItem,
                                   optionsValue: 'AccreditorID'"></select>

                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="col-md-3">
                <label> Certificate Message  :</label>
               
            </div>
            <div class="col-md-4">
                <div class="form-group">

                    <textarea id="CertificateMessage" maxlength="500" required="required" name="CertificateMessage" data-bind="value: CertificateMessage,jqBootstrapValidation: {}" placeholder="Certificate Message" class="form-control  above" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="panel-body">
           
            <button type="submit" id="btnsaveEducationCredential" class="btn btn-default">Save and Continue</button>
            <button type="button" id="btEducationCredentialclosepopup" data-dismiss="modal" aria-hidden="true" style="display:none"></button>
            
        </div>
        <span class="clearfix"></span>
    </div>
 
}

