.topbar
{
    background-color: rgb(186, 135, 236);
}

.topbar
{
    color: #ffffff;
}

.header-wrapper
{
    background-color: #ffffff;
}

.list-head
{
    background-color: rgb(186, 135, 236);
}

.caption
{
    background-color: rgb(186, 135, 236);
}

.caption
{
    color: #ffffff;
}

.search-btn-l
{
    background-color: rgb(186, 135, 236);
}

.list-footer
{
    background-color: rgb(186, 135, 236);
}

.list-head1
{
    background-color: rgb(159, 159, 159);
}

.font20
{
    color: rgb(186, 135, 236);
}

.news-list
{
    color: #a7a7a7;
}

#mc_embed_signup .button
{
    color: #ffffff;
}

#mc_embed_signup .button
{
    background-color: rgb(186, 135, 236);
}

.faculty-btn
{
    background-color: #a7a7a7;
}

.learn-more
{
    background-color: rgb(186, 135, 236);
}

.learn-more
{
    color: #ffffff;
}

.submit-btn
{
    background-color: #a7a7a7;
}

.red-pagging
{
    background-color: rgb(186, 135, 236);
}

.red-pagging
{
    border-color: rgb(186, 135, 236);
}

.box-head
{
    background-color: rgb(186, 135, 236);
}

.colorblue
{
    color: rgb(186, 135, 236);
}

.list-style
{
    color: #ffffff;
}

.resources-redhead
{
    background-color: rgb(186, 135, 236);
}

.register-head
{
    background-color: rgb(186, 135, 236);
}

.active-link
{
    color: rgb(186, 135, 236);
}

.submit-btn
{
    background-color: #a7a7a7;
}

.course-row:hover
{
    color: rgb(181, 122, 240);
}

.course-btn
{
    background-color: rgb(133, 133, 133);
}

.course-btn
{
    color: #fff;
}

.faq-topic
{
    background-color: rgb(186, 135, 236);
}

.faq-links a
{
    color: rgb(186, 135, 236);
}

.navbar-inverse
{
    background-color: #9f9f9f;
}

.well
{
    background-color: rgb(186, 135, 236);
}

.product_price
{
    color: rgb(186, 135, 236);
}

.register-head-1
{
    background-color: rgb(186, 135, 236);
}

.form-panel-heading
{
    background-color: rgb(186, 135, 236);
}

.loader
{
    color: rgb(186, 135, 236);
}

    .loader::before
    {
        background-color: rgb(186, 135, 236);
    }

    .loader::after
    {
        background-color: rgb(186, 135, 236);
    }
