@using HCRGUniversityMgtApp.Infrastructure.Global;
@{
    ViewBag.Title = "Index";
}

@section header{
    <a class="navbar-brand" href="#">Home Content</a>
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout/viewmodel/views/HomeContent/HomeContentResultViewModel.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.js")"></script>
    <script type="text/javascript">
        var model = @MvcHtmlString.Create(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var HomeContentnGridViewModel = new HomeContentnGridViewModel();
        HomeContentnGridViewModel.Init(model);
        ko.applyBindings(HomeContentnGridViewModel, $("#divHomeContent").get(0));
    </script>
}


<div class="inner-content">
    <div id="divHomeContent">
        <!--start row -->
        <div class="row">
            <div class="panel-wrapper">
                <div class="panel panel-default">
                    <div class="panel-heading">Home Content Screen</div>
                    <!-- Default panel contents -->
                
                    @using (Html.BeginForm(GlobalConst.Actions.HomeContentController.Update, GlobalConst.Controllers.HomeContent, FormMethod.Post, new
{
    id = "frmHomeContent",
    enctype = "multipart/form-data",
    data_bind = "ajaxForm : { success : function(responseText ,statusText,xhr,$form){HomeContentDetailSuccess(responseText);},beforeSubmit : HomeContentInfoFormBeforeSubmit ,clearForm : true}"
}))
                    {
                        <div id="divAddContentData" class="row mtb-10">
                        <div class="row mtb-10">
                            <div class="col-md-3 col-sm-5"><label>Home Content:</label> <a href="#" class="inner-content-link"> </a></div>
                            <div class="col-md-4 col-sm-6">

                                <div class="form-group">
                                     <input type="hidden" name="hdHomeContentID" id="hdHomeContentID" data-bind="value: HomeContentID" />
                                    <button type="button" data-target="#EditorModal" id="EditorModalPopUp"  data-backdrop="static" data-keyboard="false" class="btn btn-default">Update Content</button>
                                    <input type="hidden" id="hd" name="HomePageContent" />
                                       <input type="hidden" name="OrganizationName" data-bind="value: OrganizationName" />
                            <input type="hidden" name="OrganizationID" data-bind="value: OrganizationID" />
                                  @*  <input type="hidden" id="hdTrainingAndSeminarID" name="TrainingAndSeminarID" data-bind="value:TrainingAndSeminarID" />*@
                                </div>
                            </div>
                        </div>
                            
                        <div class="row mtb-20">
                            <button type="submit" onclick="submitform()" class="btn btn-default">Save and Continue</button>
                        </div>
                            </div>
                    }
                  </div>
            </div>
            <!-- row-end -->
        </div><!-- /inner-wrapper -->

          <!--ko if:IsHCRGAdmin() == true-->
                            <div class="row mtb-10">
                                <div class="col-md-2 col-sm-3">
                                    <label>Organizations:</label>
                                </div>
                                <div class="col-md-5 col-sm-9">
                                    <div class="form-group">
                                        <select id="DrpOrgID" class="form-control" data-bind="options: AllOrganizations, optionsText: 'OrganizationName', optionsValue: 'OrganizationID', optionsCaption:'Select Organization', value: SearchSelectedOrganization"></select>
                                        <input type="hidden" id="hdfOrgID" />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-12 padd-l0">
                                     <button type="button" class="btn btn-default pul-rht1" data-bind="click: function(){ $root.SearchHomeContent()}">Search</button>
                                </div>
                            </div>
                            <!--/ko-->

        <div class="row">
            <div class="modal fade" id="EditorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog position-center set-popup">
                    <div class="modal-content" style="height:830px;">
                        <div class="modal-header">

                            <button type="button" class="close btnClose" id="btnClose" data-dismiss="modal" aria-hidden="true">&times;</button>


                            <h4 class="modal-title">Add Content</h4>
                        </div>
                        <div class="modal-body">
                            <div class="panel-body">
                                <div id="divEditor">

                                    @using (Html.BeginForm(GlobalConst.Actions.HomeContentController.Index, GlobalConst.Controllers.HomeContent, FormMethod.Post))
                                    {
                                        @Html.Raw(ViewBag.EditorContent)
                                    }
                                </div>
                                <div style="padding-top:10px;">
                                    <button type="button" data-dismiss="modal" aria-hidden="true" id="btnSaveandContinue" class="btn btn-default btnClose">Save and Continue</button>

                                    <button type="button" aria-hidden="true" id="btnClose1" data-dismiss="modal" class="btn btn-default btnClose">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           <div class="panel-body">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Home Content Result</div>
                                    <!-- Table -->
                                    <div class="table-responsive height-400">
                                        <table class="table table-striped ">
                                            <!-- removed class (table-fixed-1) -->
                                            <thead>
                                                <tr class="clearfix text-center">
                                                     <th class="col-md-10 col-sm-9">Home Content</th>
                                                     <th class="col-md-6 col-sm-6">Organization</th>                                            
                                                     <th class="col-md-2 col-sm-3">Action</th>
                                                  
                                                </tr>
                                            </thead>
                                            <tbody id="main" data-bind="event: { scroll: scrolled }">
                                                <!--ko if:HomeContentData!= null-->
                                                <!-- ko foreach:HomeContentData -->
                                                <tr class="clearfix row">
                                                    <td class="col-md-10 col-sm-9"><span data-bind="text:DescriptionShort" />
                                                      <input type="hidden" name="HomePageContent" id="HomePageContent" data-bind="value:HomePageContent"/>
                                                    </td>                                                
                                                       <td class="col-md-2 col-sm-2"><span data-bind="text:OrganizationName" /></td>                                                                                         
                                                    <td class="col-md-2 col-sm-3"><a href="#" class="inner-content-link blue" " style="color: #808080;" data-bind="click:$root.EditHomeContentLineItems">Edit</a></td>
                                              
                                                </tr>
                                                <!--/ko-->
                                                <!--/ko-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                    </div>

    </div>

</div>
<script type="text/javascript">
    function RichTextEditor_OnExecUICommand(editor, arg) {
        var a0 = arg.Arguments[1];
        if (a0 == "FullScreen") {
            return false;
        }
    }
</script>

<style>

    .panel-body p {
        text-align:left;
    }

</style>





