@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
    <div class="row margintop39 alert-danger">
        <div class="col-md-12 col-sm-12">
            <h1 class="error-h1">OOPS!</h1>
                <header class="site-block-title">
                    <h2>An error occurred while processing your request</h2>
                    <h3>Please contact your administrator</h3>
                </header>
            </div>
    </div>
    </div>