@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <header class="site-block-title">
                    <h2>ABOUT US</h2>
                </header>
            </div>
            <!-- col-sm-12 -->
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="row">
            <div class="col-sm-3">
                <ul class="simple-side-nav">
                    <li><a href="#standard">History</a></li>
                    <li><a href="#">Mission</a></li>
                    <li><a href="#">Qualifications</a></li>
                    <li><a href="#">Difference</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Faculty</a></li>
                    <li><a href="#">Standards & Accreditation</a></li>
                </ul>
                <!--<a class="list-footer" href="#">View All</a>-->
                <div class="clearfix"></div>
                <br />
            </div>
            <!-- col-sm-3 -->

            <div class="col-sm-9">
                <div class="row">
                    <h2 class="red-heading ">ABOUT HCRG UNIVERSITY</h2>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="row scroll">
                    <h2 class="red-heading">HISTORY</h2>
                    <p class="text-left col-xs-12 col-md-9 paddingleft-none">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. </p>
                    <p class="news-desc col-xs-12 col-md-3">
                        <img src="~/Content/img/about_img.jpg" class="img-responsive home-img" width="100%" /></p>
                    <div class="clearfix"></div>
                    <br />
                    <h2 class="red-heading">MISSION</h2>
                    <p class="news-desc">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
                    <div class="clearfix"></div>
                    <br />
                    <h2 class="red-heading">QUALIFICATIONS</h2>
                    <p class="news-desc">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
                    <div class="clearfix"></div>
                    <br />
                    <h2 class="red-heading">DIFFERENCE</h2>
                    <p class="news-desc">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
                    <div class="clearfix"></div>
                    <br />
                    <h2 class="red-heading">TEAM</h2>
                    <p class="news-desc">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
                    <div class="clearfix"></div>
                    <br />
                    <h2 class="red-heading">FACULTY</h2>
                    <p class="news-desc">Donec qua	m felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
                    <div class="clearfix"></div>
                    <br />
                    <a name="standard">
                        <h2 class="red-heading">Standards & Accreditation</h2>
                    </a>
                    <p class="news-desc">Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
                    <div class="clearfix"></div>
                    <br />
                </div>
            </div>
        </div>
        <!-- col-sm-6 -->
    </div>
