
@{
    ViewBag.Title = "IndustryResearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <header class="site-block-title">
                <h2>Industry Research</h2>
            </header>
        </div>
        <!-- col-sm-12 -->
    </div>
    <!-- row -->
    <div class="row">
<div class="col-sm-12">
       <div id="divIndustryResearch" style="text-align:justify;">
           @*@Model.IndustryResearchContent*@
           @Html.Raw(Model.IndustryResearchContent)
       </div>
</div>
        <!-- col-sm-4 -->
    </div>
    <!-- row -->
</div>

